<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="A task management app made with django"
    />
    <title>Welcome - Task Manager</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users_tasks/css/success_styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@800&family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <div class="navbar">
        <h1>Task Manager</h1>
        <h1 class="signout" ><a href="/logout">Sign Out</a></h1>
      </div>

      <div class="welcome_msg">
        <h1>Hello, {{user.name}}!</h1>
      </div>

      <div class="user_messages">
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="grid_container">

        <div class="todays_tasks">

          <div class="date">
            <h3>Today's tasks</h3>
          </div>

          <div class="task_container">

            <div class="labels_grid">
              <p>Task</p>
              <p>Time</p>
              <p>Status</p>
              <P class="action" >Action</P>
            </div>

            {% for x in appointment %}
              <div class="tasks_grid">
                <p>{{x.task}}</p>
                <p>{{x.time}}</p>
                <p>{{x.status}}</p>
                <div class="btn_container">
                  <a class="button" href="/edit/{{x.id}}">Edit</a>
                  <a class="button delete" href="/delete/{{x.id}}">Delete</a>
                </div>
              </div>
            {% endfor %}

          </div>

        </div>

        <div class="pending_tasks">

          <div class="date">
            <h3>Your other tasks</h3>
          </div>

          <div class="task_container">

            <div class="labels_grid">
              <p>Task</p>
              <p>Time</p>
              <p>Date</p>
              <P>Action</P>
            </div>

            {% for x in other_appointments %}
              <div class="tasks_grid">
                <p>{{x.task}}</p>
                <p>{{x.time}}</p>
                <p>{{x.date}}</p>
                <div class="btn_container">
                  <a class="button" href="/edit/{{x.id}}">Edit</a>
                  <a class="button delete" href="/delete/{{x.id}}">Delete</a>
                </div>
              </div>
            {% endfor %}

          </div>

        </div>

      </div>

      <div class="add_tasks">
        <h2>Add a tasks</h2>

        <form action='add/appointment' method='POST'>
          {% csrf_token %}

          <label class="form_label" for="date">Date
            <input type='date' name='date'>
          </label>

          <label class="form_label" for="time">Time
            <input type='time' name='time'>
          </label>

          <label class="form_label" for="task">Task
            <input type='text' name='task' placeholder="Write a task..." >
          </label>

          <input type='submit' value='ADD'>

        </form>

      </div>

    </div>
  </body>
</html>
